In [1]:
%load_ext sql

In [2]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

'Connected: student@sparkifydb'

In [24]:
%sql SELECT count(*) FROM songplays where artist_id is null;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(23203759,)]

In [12]:
#%sql delete FROM users ;

%sql SELECT count(*) FROM users where userid is null;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(0,)]

In [10]:
%sql SELECT count(*) FROM songs where song_id is null;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(0,)]

In [9]:
%sql SELECT count(*) FROM artists where artist_id is null;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(0,)]

In [8]:
%sql SELECT count(*) FROM time where start_time is null;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(0,)]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).

In [8]:
%sql SELECT count(*) FROM songplaytemp ;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(0,)]

In [9]:
%sql select songplaytemp.songplay_id ,songplaytemp.ts as start_time ,songplaytemp.userId , songplaytemp.level , songs.song_id, artists.artist_id, songplaytemp.sessionId , songplaytemp.location , songplaytemp.userAgent from songplaytemp INNER join artists on songplaytemp.artist=artists.artist_name INNER JOIN songs  ON songplaytemp.song=songs.title;

 * postgresql://student:***@127.0.0.1/sparkifydb
(psycopg2.ProgrammingError) column songplaytemp.songplay_id does not exist
LINE 1: select songplaytemp.songplay_id ,songplaytemp.ts as start_ti...
               ^
 [SQL: 'select songplaytemp.songplay_id ,songplaytemp.ts as start_time ,songplaytemp.userId , songplaytemp.level , songs.song_id, artists.artist_id, songplaytemp.sessionId , songplaytemp.location , songplaytemp.userAgent from songplaytemp INNER join artists on songplaytemp.artist=artists.artist_name INNER JOIN songs  ON songplaytemp.song=songs.title;']

In [10]:
%%sql SELECT 
       songplaytemp.ts AS start_time,
       songplaytemp.userid,
       songplaytemp.level,
       songs.song_id,
       artists.artist_id,
       songplaytemp.sessionid,
       songplaytemp.location,
       songplaytemp.useragent
FROM   songplaytemp
       inner JOIN artists
              ON songplaytemp.artist = artists.artist_name
       inner JOIN songs
              ON songplaytemp.song = songs.title

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(datetime.datetime(2018, 11, 21, 21, 56, 47, 796000), 15, 'paid', 'SOZCTXZ12AB0182364', 'AR5KOSW1187FB35FF4', 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"')]

In [29]:
%sql SELECT * FROM songplaytemp where ts is null;

 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.

[]